@font-face {
  font-family: 'CenturyGothic';
  src: url('../fonts/CenturyGothic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/CenturyGothic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/CenturyGothic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/CenturyGothic.svg') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'CenturyGothicBold';
  src: url('../fonts/CenturyGothic-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/CenturyGothic-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/CenturyGothic-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/CenturyGothic-Bold.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Roboto-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Roboto-Regular.svg') format('svg'); /* Legacy iOS */
}

